/* components/detailPage.scss */
.detail-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .search-comp {
    margin-top: 60px; /* Adjust spacing between search component and detail card */
  }

  .detail-card {
    width: 100%;
    max-width: 400px;
    margin-top: 20px; /* Adjust spacing between search component and detail card */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .details {
      padding: 20px;

      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }
}
